body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o corpo ocupe 100% da altura */
}

.map-container {
  display: flex; /* Usa flexbox para facilitar o layout */
  height: 100vh; /* Garante que a altura do contêiner ocupe 100% da altura da tela */
}

.sidebar {
  position: relative;
  left: 90px;
  width: 400px; /* Largura fixa para a sidebar */
  padding: 20px; /* Espaçamento interno */
  background-color: #f8f9fa; /* Cor de fundo da sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar a sidebar */
  height: 100vh; /* Altura da sidebar ocupa toda a altura da tela */
  overflow-y: auto; /* Permite rolagem se o conteúdo for longo */
}

#map {
  flex: 1; /* Faz o mapa ocupar o restante do espaço disponível */
  height: 100vh; /* Faz o mapa ocupar toda a altura da tela */
  width: 1700px;
}

.sidebar h2 {
  margin: 0 0 15px; 
  font-size: 24px; 
  color: #333; 
}

input[type="text"] {
  width: 100%;
  padding: 10px; 
  border: 2px solid #007bff; 
  border-radius: 5px; 
  font-size: 16px; 
  margin-bottom: 10px;
  transition: border-color 0.3s; 
}

input[type="text"]:focus {
  border-color: #0056b3; 
  outline: none; 
}

button {
  width: 100%; 
  padding: 10px; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #0056b3; 
}

.suggestions-list {
  position: relative; 
  margin-top: 10px; 
  background-color: white; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  max-height: 200px; 
  overflow-y: auto; 
  z-index: 1000; 
  width: calc(100% - 20px); /* Largura um pouco menor que o input */
}

.suggestions-list li {
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.suggestions-list li:hover {
  background-color: #f0f0f0; 
}
